{% extends "base_generic.html" %}

{% block title %}Lista de Filiados{% endblock %}

{% block content %}
  <h2>Lista de Filiados</h2>
  <table>
    <thead>
      <tr>
        <th>Nome Completo</th>
        <th>Titulo Eleitor</th>
        <th>Municipio</th>
        <th>Raça</th>
        <th>Cidade</th>
        <th>Situação</th>
        <th>Inspecionar</th>
      </tr>
    {% for filiado in object_list %}
      <tr>
        <td class="m-1 p-1 d-inline-block text-truncate " style="width:100px">{{filiado.nome_completo}}</td>
        <td class="m-1 p-1">{{filiado.tituloEleitor}}</td>
        <td class="m-1 p-1">{{filiado.municipio}}</td>
        <td class="m-1 p-1">{{filiado.raca}}</td>
        <td class="m-1 p-1">{{filiado.local_exercicio}}</td>
        <td class="m-1 p-1">{{filiado.situacao}}</td>
        <td class="m-1 p-1"><a href="{% url 'details_filiado' filiado.id %}">Visualizar</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
