{% extends "base_generic.html" %}

{% block title %}Upload da Planilha de Filiados UP{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Upload da Planilha de Filiados UP</h2>
    <div class="card p-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-success">Upload</button>
        </form>
    </div>
</div>
{% endblock %}
