<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestão Filiados{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Gestão Filiados</h1>
        <nav>
            <ul>
                <!-- Adicionar links -->
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Adicionar informações -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Versão ...</p>
    </footer>
</body>
</html>
